.btn {
    background-color: rgb(255, 85, 17);
    border: 0;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    color: #fff;
}


.form-container {
    margin: 0 auto;
    width: 600px;
    padding: 50px 20px;
    border: 1px solid;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.form-group2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.title{
    text-align: center;
}

.error{
    display: none;
}

.errorActive{
    display: block;
}

.container {
    text-align: center;
}

.btn2 {
    background-color: rgb(255, 85, 17);
    border: 0;
    padding: 15px;
    font-size: 20px;
    color: #fff;
}

.root{
    width: 100%;
    height: 100vh;
}